/* Font-family: 'Roboto', 'Raleway', sans-serif. */

/* Colors
#2196F3 - Accent color (Blue);
#FFFFFF - White color;
#212121 - Black color;
#757575 - Main text (Light grey);
#E5E5E5 - Main Backgroung (White);
#2F303A - Secondary Background (Dark grey).
*/
:root {
  /* Fonts */
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  /* Text colors */
  --main-text-color: #757575;
  --title-color: #212121;
  --accent-color: #2196f3;
  --white: #ffffff;
  --black: #000000;
  /* Background colors */
  --first-bg-color: #f5f4fa;
  --second-bg-color: #2f303a;
}

body {
  width: 1200px;
  font-family: var(--main-font);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
  background-color: var(--white);
}

/* Header */

.header {
  background-color: var(--white);
}
.nav-container {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ececec;
  /* outline: 3px solid orange; */
}
.logo {
  font-family: var(--secondary-font);
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: var(--black);
}
.logo-accent {
  color: var(--accent-color);
}

.nav-list {
  display: flex;
}
.nav-list .item {
  margin-right: 50px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  list-style: none;
}
.nav-list .item:last-child {
  margin-right: 0;
}
.nav-link {
  text-decoration: none;
  color: var(--title-color);
}
.nav-link[title] {
  color: var(--accent-color);
  text-decoration: none;
}
.nav-link:hover,
.nav-link:focus {
  color: var(--accent-color);
}

.header-list {
  display: flex;
  margin-left: auto;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  list-style: none;
}
.header-list .item {
  margin-right: 50px;
}
.header-list .item:last-child {
  margin-right: 0;
}
.mail-link,
.tel-link {
  text-decoration: none;
  color: var(--main-text-color);
}
.mail-link:hover,
.tel-link:hover,
.mail-link:focus,
.tel-link:focus {
  color: var(--accent-color);
}

/* Main */

/* Hero */
.hero {
  background-color: var(--second-bg-color);
}
.title-hero {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white);
}
.btn-hero {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--white);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
}
.btn-hero:hover,
.btn-hero:focus {
  color: var(--white);
  background-color: var(--accent-color);
}
/* Advantages */
.advantage-list {
  list-style: none;
}
.advantage-title {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.advantage-item-title {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-color);
}
.advantage-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

/* What we do */
.activity-list {
  list-style: none;
}
.activity-title {
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--title-color);
}

/* Team */
.team {
  background-color: var(--first-bg-color);
}
.team-list {
  list-style: none;
}
.team-title {
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--title-color);
}
.team-member-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--title-color);
}
.team-text {
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

/* Footer */

.footer {
  background-color: var(--second-bg-color);
}
.footer-logo {
  font-family: var(--secondary-font);
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: var(--white);
}
.footer-logo-accent {
  color: var(--accent-color);
}
.footer-list {
  list-style: none;
}

.footer-address-link {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: var(--white);
}
.footer-mail-link {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
}
.footer-tel-link {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
}

.footer-address-link:hover,
.footer-mail-link:hover,
.footer-tel-link:hover,
.footer-address-link:focus,
.footer-mail-link:focus,
.footer-tel-link:focus {
  color: var(--accent-color);
}

/* Portfolio */

.main-title {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.filter-title {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.filter-btn-list {
  list-style: none;
}
.filter-btn {
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.44;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
  background: var(--first-bg-color);
  border-radius: 4px;
  cursor: pointer;
}
.filter-btn:hover,
.filter-btn:focus {
  color: var(--white);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}
.filter-list {
  list-style: none;
}
.filter-item-title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-color);
}
.filter-text {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}
